<div class="jumbotron jumbotron-fluid animated fadeIn fast">
    <div class="container">
      <h1 class="display-4">Catalogo</h1>
      <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio quas eius reiciendis beatae ipsam vero error ab sint tenetur ad et laboriosam earum, voluptate nobis maxime aliquid? Laborum, totam quaerat.Est quas dignissimos in accusantium quaerat nulla ab tempora fugiat ipsa nemo enim obcaecati adipisci, temporibus ad, cumque dolorem? Quas nihil ex architecto ducimus laboriosam saepe quibusdam natus quis aperiam?</p>
    </div>
  </div>